body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937 ;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 380px;
    padding: 0 200px;
}

.right-links,
.left-links{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}
.left-links{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;

}
.right-links{
    font-size: 18px;
    color: #E5E7EB;

}

.body-one{
    background-color: #1F2937 ;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 200px 100px;
    
}
.body-one .pic{
    height: 220px;
    width: 500px;
    background-color: #E5E7EB;
    margin: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 460px;
    margin: 0;
}
.hero .title{
    font-weight: 900;
    font-size: 48px;
}
.hero .desc{
    font-size: 18px;
    color: #E5E7EB;
}
.hero .button {
    color: #F9FAF8;
    width: 100px;
    height: 26px;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    margin-top: 8px;
    padding: 0;
}


.body-two {
    display: flex;

}




.body-two,
.body-three,
.body-four{
    background-color: white;
}