body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937 ;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 380px;
    padding: 0 200px;
}

.right-links,
.left-links{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}
.left-links{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;

}
.right-links{
    font-size: 18px;
    color: #E5E7EB;

}

.body-one{
    background-color: #1F2937 ;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 200px 100px;
    
}
.body-one .pic{
    height: 220px;
    width: 500px;
    background-color: #E5E7EB;
    margin: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 460px;
    margin: 0;
}
.hero .title{
    font-weight: 900;
    font-size: 48px;
}
.hero .desc{
    font-size: 18px;
    color: #E5E7EB;
}
.hero .button {
    color: #F9FAF8;
    width: 100px;
    height: 26px;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    margin-top: 8px;
    padding: 0;
}


.body-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 40px;
}
.icon-frame{
    border-color: #3882F6;
    border-style: solid;
    background-color: white;
    border-radius: 10px;
    border-width: 4px;
    width: 140px;
    height: 140px;
}
.info-box {
    width: 140px;
}
.info-box .desc{
    text-align: center;
    font-size: 16px;
}
.collage-box{
    display: flex;
    gap: 40px;
}



.body-three {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 100px 300px;
}
.source {
    font-weight: bold;
    font-size: 26px;
}


.body-four{
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 120px;
    color: #F9FAF8;
    padding: 50px 100px;
    border-radius: 6px;
}
.body-four .hero{
    font-size: 24px;
    font-weight: bold;
}
.body-four .desc{
    color: #E5E7EB;
}
.body-four .button{
    color: #F9FAF8;
    width: 100px;
    height: 26px;
    background-color: #3882F6;
    border-color: #F9FAF8;
    border-style: solid;
    border-radius: 8px;
    margin-top: 8px;
    padding: 0;
}

.footer {
    background-color:#1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}